body 
{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;  
}

.bck2
{
    background-image:url("img/pdd4.png");
    background-repeat:no-repeat;
    background-size:auto;
}

.footer
{
    position:fixed;
    bottom:0px;
    height:30px;
}

.lbl_1
        {
            font-size:20px;
            color:black;
            font-family:'Museo Sans Cyrl 300';
            align-items:center;
        }

.lbl_2
        {
            font-size:65px;
            font-weight:800;
            color:black;
            font-family:'Museo Sans Cyrl 300';
        }