<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="PDD_RandauRuai.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <title>Randau Ruai</title>
</head>
<body class="bck2">
    <form runat="server">
        <div>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
